.header{
    background-color:  rgb(0,76,60);
    height: 65px;
    width: 100%;
    padding-right: 59px;
    padding-left: 68px;
    margin-right: auto;
    margin-left: auto;
}

.header_navbar{
    display: flex;
    justify-content: space-between;
}
.header_navbar-list{
    list-style: none;
    padding-left: 0ch;

}
.logo{
    max-width:98px;
}

.header_navbar-item{
    margin-top: 20px;
    margin-bottom: 23px;
    display: inline-block;
}
.header_navbar-item :hover{
    background-color: rgb(36, 161, 53);
    color: white;
}

.header_navbar-item > a{
    padding-top: 22px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 22px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.header_navbar-item>.menu.Position > a{
    padding-top: 22px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 22px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.menu.Position{
    position: relative;
}


.sub-menu{
    display: none;
    position: absolute;
    margin-top: 22px;
}

.menu.Position:hover .sub-menu{
    display: block;
    background-color: blanchedalmond;
}

.sub_item{
    border: black;
    width: 155px;
    height: 35px;
    background-color: whitesmoke;
}

.sub_item>a{
    color: black;
}

#listStadium{
    display: flex;
}

.card.mb-4.shadow-sm{
    transition: all 0.5s;
    border: none;
}

.card.mb-4.shadow-sm:hover {
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.03),
    0 24px 38px 3px rgba(0, 0, 0, 0.05), 0 11px 15px -7px rgba(0, 0, 0, 0.06) !important;
    cursor: pointer;
}


.detail-room {
    height: 260px;
}

.title {
    font-weight: 700;
}

.detail {
    font-size: 13px;
    font-weight: 400;
}

.price {
    font-size: 13px;
    font-weight: 700;
}

.first-price{
    font-size: 10px;
    font-weight: 500;
    text-decoration: line-through;
}

.address {
    font-size: 13px;
    font-weight: 400;
}
