body{
    background-image: url(../img/background-bong-da_045001219.jpg);
}
.panel{
    padding: 10em 28em;
}
.form{
    padding: 2em;
    border-radius: 0.8em;
    border: 1px solid lightblue;
    background-color: white;
}
.massage{
    font-size: 1.4em;
}
#placeholder-1{
    padding-top: 0px !important;
}
#placeholder-2{
    padding-top:0px !important;
}